@import '../root/root.scss';

p
{
    margin: 0;
}
body
{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--Primary-Font);
    .main
    {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        .main_project
        {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 80px; 
            .main_project-img
            {
                width: 100vw;
                height: 45vw;
                box-shadow: var(--Main-Picture-Project-Shadow);
            }
            video 
            {
                width: 100%;
                height: 45vw;
                box-shadow: var(--Main-Picture-Project-Shadow);
            }
            .main_project-title
            {
                @include --Font-Bold-50px;
                text-align: center;
                width: 100%;
                margin: 64px 0 0 0;
            }
            .main_project-infos
            {
                @include --Infos-Widget;

                .infos_content 
                {
                    width: 100%;
                    padding : 30px 117px 28px 117px;
                    display: flex;
                    justify-content: space-between;
                    .content_texts
                    {
                        width: 47%;
                        display: flex;
                        flex-wrap: wrap;
                        padding-right: 64px;
                        .texts_roles, .texts_tools
                        {
                            padding-right: 40px;
                            width: fit-content;
                        }
                        .texts_date
                        {
                            width: fit-content;
                        }
                        .texts_roles, .texts_tools, .texts_date 
                        {
                            min-width: fit-content;
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 32px;
                            color: var(--Primary-Blue);
                            p:nth-child(1)
                            {
                                @include --Font-Bold-20px;
                                width:100%;
                            }
                            p:nth-child(2)
                            {
                                @include --Font-Regular-20px;
                                width:100%;
                                margin-top: 32px;
                            }
                            p:nth-child(3)
                            {
                                @include --Font-Regular-20px;
                                width:100%;
                            } 
                        }
                    }
                    .content_buttons
                    {
                        width: 440px;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        >div
                        {
                            width: 200px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #07071C;
                            transition: all .5s ease;
                            a 
                            {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 20px;
                                font-weight: bold;
                                color: #fff;
                                text-decoration: none;
                            }
                        }
                        >div:hover
                        {
                            background-color: #fff;
                            border: 2px solid #07071C;
                            box-sizing: border-box;
                            transition: all .5s ease;
                            a 
                            {
                                color: #07071C;
                            }
                        }
                    }
                    .content_button
                    {
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        >div
                        {
                            width: 200px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #07071C;
                            transition: all .5s ease;
                            a 
                            {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 20px;
                                font-weight: bold;
                                color: #fff;
                                text-decoration: none;
                            }
                        }
                        >div:hover
                        {
                            background-color: #fff;
                            border: 2px solid #07071C;
                            box-sizing: border-box;
                            transition: all .5s ease;
                            a 
                            {
                                color: #07071C;
                            }
                        }
                    }
    
                }
            }
            .main_project-description_title
            {
                margin-top: 72px;
                width: 100%;
                display: flex;
                flex-direction: column;

                .description_title-title
                {
                    @include --Font-Bold-50px;

                }
                .description_title-underline
                {
                    @include --Big-Bar;
                }
            }
            .main_project-description_intro
            {
                width: 100%;
                margin-top: 32px;
                display: flex;
                flex-direction: column;
                .description_intro-Paragraph
                {
                    @include --Font-Regular-225px;
                    line-height: 33px;
                }
                p:nth-child(2)
                {
                    margin-top: 32px;
                }
            }
            .main_project-description_bloc-text-picture
            {
                width: 100%;
                height: 422px;
                margin-top: 120px;
                display: flex;
                justify-content: space-between;

                .description_bloc-text-picture_text
                {
                    @include --Font-Regular-225px;
                    line-height: 33px;
                    width: 20vw;
                    display: flex;
                    align-items: center;
                }
                .description_bloc-text-picture_picture
                {
                    width: 744px;
                    height: 100%;
                    box-shadow: var(--Pictures-Project-Shadow);
                }
            }
            .reverse-bloc
            {
                flex-direction: row-reverse;
            }
        }
    }
}


@media screen and (max-width: 900px)
{
    body
    {
        .main
        {
            .main_project
            {
                .main_project-title
                {
                    @include --Font-Bold-32px;
                }
                .main_project-infos
                {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    border: none;
                    box-shadow: 0px 0px 4px rgba(7,7,28,0.09);
                    .infos_content 
                    {
                        width: 80%;
                        height: fit-content;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        padding: 30px 0 60px 0;
                        .content_texts
                        {
                            width: 65%;
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            padding: 30px 0 30px 0;
                            div:nth-child(1)
                            {
                                p:nth-child(1)
                                {
                                    margin: 0;
                                }
                            }
                        }
                        .content_buttons
                        {
                            width: 100%;
                            >div
                            {
                                width: 100%;
                                margin-top: 34px;
                            }
                        }
                        .content_button
                        {
                            width: 100%;
                            justify-content: center;
                        }
                    
                    }
                }
                .main_project-description_bloc-text-picture
                {
                    flex-direction: column-reverse;
                    align-items: center;
                    height: fit-content;
                    .description_bloc-text-picture_text
                    {
                        width: 100%; 
                        margin-top: 32px;
                    }
                    .description_bloc-text-picture_picture
                    {
                        width: 100%;
                        height: inherit;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) and (min-width: 900px)
{
    body
    {
        .main
        {
            .main_project
            {
                .main_project-description_bloc-text-picture
                {

                    height: calc(422px*0.6);

                    .description_bloc-text-picture_text
                    {
                    }
                    .description_bloc-text-picture_picture
                    {
                        width: calc(744px*0.6);
                        height: calc(422px*0.6);
                    }
                }
            }
        }
    }
}
