:root {
  --Primary-White: #fff;
  --Primary-Blue: #07071C;
  --Primary-Grey: #808080;
  --Primary-Font: 'Alegreya', serif;
  --Infos-Widget-Shadow: 0px 0px 7px rgba(7, 7, 28, 0.09);
  --Pictures-Project-Shadow: 0px 4px 20px rgba(7, 7, 28, 0.09);
  --Projects-Widget-Shadow: 0px 4px 4px rgba(7, 7, 28, 0.09);
  --Primary-Transition: all 1s ease;
}

p {
  margin: 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--Primary-Font);
}

body .main {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

body .main .main_project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

body .main .main_project .main_project-img {
  width: 100vw;
  height: 45vw;
  box-shadow: var(--Pictures-Project-Shadow);
}

body .main .main_project .main_project-title {
  font-family: var(--Primary-Font);
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  width: 100%;
  margin: 64px 0 0 0;
}

body .main .main_project .main_project-infos {
  width: 100%;
  background-color: var(--Primary-White);
  box-shadow: var(--Infos-Widget-Shadow);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 64px;
}

body .main .main_project .main_project-infos .infos_content {
  width: 100%;
  padding: 30px 117px 28px 117px;
  display: flex;
  justify-content: space-between;
}

body .main .main_project .main_project-infos .infos_content .content_texts {
  width: 47%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 64px;
}

body .main .main_project .main_project-infos .infos_content .content_texts .texts_roles, body .main .main_project .main_project-infos .infos_content .content_texts .texts_tools {
  padding-right: 40px;
  width: fit-content;
}

body .main .main_project .main_project-infos .infos_content .content_texts .texts_date {
  width: fit-content;
}

body .main .main_project .main_project-infos .infos_content .content_texts .texts_roles, body .main .main_project .main_project-infos .infos_content .content_texts .texts_tools, body .main .main_project .main_project-infos .infos_content .content_texts .texts_date {
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  color: var(--Primary-Blue);
}

body .main .main_project .main_project-infos .infos_content .content_texts .texts_roles p:nth-child(1), body .main .main_project .main_project-infos .infos_content .content_texts .texts_tools p:nth-child(1), body .main .main_project .main_project-infos .infos_content .content_texts .texts_date p:nth-child(1) {
  font-family: var(--Primary-Font);
  font-weight: bold;
  font-size: 20px;
  width: 100%;
}

body .main .main_project .main_project-infos .infos_content .content_texts .texts_roles p:nth-child(2), body .main .main_project .main_project-infos .infos_content .content_texts .texts_tools p:nth-child(2), body .main .main_project .main_project-infos .infos_content .content_texts .texts_date p:nth-child(2) {
  font-family: var(--Primary-Font);
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  margin-top: 32px;
}

body .main .main_project .main_project-infos .infos_content .content_texts .texts_roles p:nth-child(3), body .main .main_project .main_project-infos .infos_content .content_texts .texts_tools p:nth-child(3), body .main .main_project .main_project-infos .infos_content .content_texts .texts_date p:nth-child(3) {
  font-family: var(--Primary-Font);
  font-weight: 400;
  font-size: 20px;
  width: 100%;
}

body .main .main_project .main_project-infos .infos_content .content_buttons {
  width: 440px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

body .main .main_project .main_project-infos .infos_content .content_buttons > div {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07071C;
  transition: all .5s ease;
}

body .main .main_project .main_project-infos .infos_content .content_buttons > div a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

body .main .main_project .main_project-infos .infos_content .content_buttons > div:hover {
  background-color: #fff;
  border: 2px solid #07071C;
  box-sizing: border-box;
  transition: all .5s ease;
}

body .main .main_project .main_project-infos .infos_content .content_buttons > div:hover a {
  color: #07071C;
}

body .main .main_project .main_project-infos .infos_content .content_button {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

body .main .main_project .main_project-infos .infos_content .content_button > div {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07071C;
  transition: all .5s ease;
}

body .main .main_project .main_project-infos .infos_content .content_button > div a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

body .main .main_project .main_project-infos .infos_content .content_button > div:hover {
  background-color: #fff;
  border: 2px solid #07071C;
  box-sizing: border-box;
  transition: all .5s ease;
}

body .main .main_project .main_project-infos .infos_content .content_button > div:hover a {
  color: #07071C;
}

body .main .main_project .main_project-description_title {
  margin-top: 72px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

body .main .main_project .main_project-description_title .main_project-description_title_step {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

body .main .main_project .main_project-description_title .main_project-description_title_step .main_project-description_title_step_title {
  font-family: var(--Primary-Font);
  font-weight: bold;
  font-size: 50px;
}

body .main .main_project .main_project-description_title .main_project-description_title_step .main_project-description_title_step_underline {
  width: 100%;
  height: 10px;
  background-color: var(--Primary-Blue);
}

body .main .main_project .main_project-description_intro {
  width: 100%;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

body .main .main_project .main_project-description_intro .description_intro-Paragraph {
  font-family: var(--Primary-Font);
  font-weight: 400;
  font-size: 22.5px;
  line-height: 33px;
}

body .main .main_project .main_project-description_intro p:not(:first-child) {
  margin-top: 32px;
}

body .main .main_project .main_project-description_bloc-text-picture {
  width: 100%;
  height: fit-content;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body .main .main_project .main_project-description_bloc-text-picture .description_bloc-text-picture_text {
  font-family: var(--Primary-Font);
  font-weight: 400;
  font-size: 22.5px;
  line-height: 33px;
  width: 20vw;
  height: fit-content;
  display: flex;
  align-items: center;
}

body .main .main_project .main_project-description_bloc-text-picture .description_bloc-text-picture_picture {
  width: 744px;
  height: 422px;
  box-shadow: var(--Pictures-Project-Shadow);
}

body .main .main_project .project-picture-h1053 .description_bloc-text-picture_picture-h1053 {
  height: 1053px;
}

body .main .main_project .project-picture-h1236 {
  justify-content: center;
}

body .main .main_project .project-picture-h1236 .description_bloc-text-picture_picture-h1236 {
  height: 1236px;
}

body .main .main_project .main_project-description_quote {
  width: 100vw;
  margin-top: 120px;
  background-color: #EE877A;
}

body .main .main_project .main_project-description_quote p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Primary-White);
  font-size: 49px;
  font-weight: 800;
  line-height: 73.5px;
  padding: 80px 144px;
}

body .main .main_project .main_project-description_picture_full_width {
  width: 100vw;
  height: fit-content;
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

body .main .main_project .main_project-description_picture_full_width .description_picture_full_width {
  width: 100%;
  box-shadow: var(--Pictures-Project-Shadow);
}

body .main .main_project .reverse-bloc {
  flex-direction: row-reverse;
}

body .main .main_project .main_project-description_conclusion-text {
  width: 100%;
  margin-top: 120px;
}

body .main .main_project .main_project-description_conclusion-text .description_conclusion-text {
  font-family: var(--Primary-Font);
  font-weight: 400;
  font-size: 22.5px;
  line-height: 33px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  body .main {
    overflow: hidden;
  }
  body .main .main_project .main_project-img {
    width: 150vw;
    height: inherit;
  }
  body .main .main_project .main_project-img-mobile-w100 {
    width: 100vw;
  }
  body .main .main_project .main_project-title {
    font-family: var(--Primary-Font);
    font-weight: bold;
    font-size: 32px;
  }
  body .main .main_project .main_project-infos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: none;
    box-shadow: 0px 0px 4px rgba(7, 7, 28, 0.09);
  }
  body .main .main_project .main_project-infos .infos_content {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0 60px 0;
  }
  body .main .main_project .main_project-infos .infos_content .content_texts {
    width: 65%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0 30px 0;
  }
  body .main .main_project .main_project-infos .infos_content .content_texts div:nth-child(1) p:nth-child(1) {
    margin: 0;
  }
  body .main .main_project .main_project-infos .infos_content .content_buttons {
    width: 100%;
  }
  body .main .main_project .main_project-infos .infos_content .content_buttons > div {
    width: 100%;
    margin-top: 34px;
  }
  body .main .main_project .main_project-infos .infos_content .content_button {
    width: 100%;
    justify-content: center;
  }
  body .main .main_project .main_project-description_bloc-text-picture {
    flex-direction: column-reverse;
    align-items: center;
    height: fit-content;
  }
  body .main .main_project .main_project-description_bloc-text-picture .description_bloc-text-picture_text {
    width: 100%;
    margin-top: 32px;
  }
  body .main .main_project .main_project-description_bloc-text-picture .description_bloc-text-picture_picture {
    width: 100%;
    height: inherit;
  }
  body .main .main_project .project-picture-h1053 .description_bloc-text-picture_picture-h1053 {
    width: 100%;
    height: inherit;
  }
  body .main .main_project .project-picture-h1236 .description_bloc-text-picture_picture-h1236 {
    width: 100%;
    height: inherit;
  }
  body .main .main_project .main_project-description_picture_full_width {
    width: 150vw;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  body .main .main_project .main_project-description_bloc-text-picture {
    height: calc(422px*0.6);
  }
  body .main .main_project .main_project-description_bloc-text-picture .description_bloc-text-picture_picture {
    width: calc(744px*0.6);
    height: calc(422px*0.6);
  }
}
