:root {
  --Primary-White: #fff;
  --Primary-Blue: #07071C;
  --Primary-Grey: #808080;
  --Primary-Font: 'Alegreya', serif;
  --Infos-Widget-Shadow: 0px 0px 7px rgba(7, 7, 28, 0.09);
  --Pictures-Project-Shadow: 0px 4px 20px rgba(7, 7, 28, 0.09);
  --Projects-Widget-Shadow: 0px 4px 4px rgba(7, 7, 28, 0.09);
  --Primary-Transition: all 1s ease;
}

p {
  margin: 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

body .main_about {
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

body .main_about .main_infosBlocks {
  width: 100%;
  display: flex;
  flex-direction: column;
}

body .main_about .main_infosBlocks .infosBlocks_skills {
  width: 100%;
  padding: 30px 0px 60px 0px;
  display: flex;
  justify-content: center;
  box-shadow: var(--Infos-Widget-Shadow);
  box-sizing: border-box;
}

body .main_about .main_infosBlocks .infosBlocks_skills .skills_infos {
  width: 80%;
  display: flex;
  flex-direction: column;
}

body .main_about .main_infosBlocks .infosBlocks_skills .skills_infos .infos_title {
  font-family: var(--Primary-Font);
  font-weight: bold;
  font-size: 32px;
  color: var(--Primary-Blue);
}

body .main_about .main_infosBlocks .infosBlocks_skills .skills_infos .infos_details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body .main_about .main_infosBlocks .infosBlocks_skills .skills_infos .infos_details > div {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
}

body .main_about .main_infosBlocks .infosBlocks_skills .skills_infos .infos_details > div p:nth-child(1) {
  font-family: var(--Primary-Font);
  font-weight: bold;
  font-size: 20px;
  color: var(--Primary-Blue);
  margin-top: 40px;
}

body .main_about .main_infosBlocks .infosBlocks_skills .skills_infos .infos_details > div p:nth-child(2) {
  font-family: var(--Primary-Font);
  font-weight: 400;
  font-size: 20px;
  color: var(--Primary-Blue);
  margin-top: 26px;
  width: 206px;
  line-height: 30px;
}

body .main_about .main_infosBlocks .infosBlocks_skills .skills_infos .infos_details > div p:nth-child(3) {
  font-family: var(--Primary-Font);
  font-weight: 400;
  font-size: 20px;
  color: var(--Primary-Blue);
  margin-top: 24px;
}

body .main_about .main_infosBlocks .infosBlocks_contact {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: var(--Infos-Widget-Shadow);
  margin-top: 40px;
}

body .main_about .main_infosBlocks .infosBlocks_contact .contact_infos {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

body .main_about .main_infosBlocks .infosBlocks_contact .contact_infos .infos_texts {
  display: flex;
  flex-direction: column;
  padding: 30px 0px 60px 0px;
}

body .main_about .main_infosBlocks .infosBlocks_contact .contact_infos .infos_texts .texts_title {
  width: fit-content;
  font-family: var(--Primary-Font);
  font-weight: bold;
  font-size: 32px;
  color: var(--Primary-Blue);
}

body .main_about .main_infosBlocks .infosBlocks_contact .contact_infos .infos_texts .texts_mail {
  font-family: var(--Primary-Font);
  font-weight: 400;
  font-size: 20px;
  color: var(--Primary-Blue);
  margin-top: 26px;
}

body .main_about .main_infosBlocks .infosBlocks_contact .contact_infos .infos_mailButton {
  width: 277px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Primary-Blue);
  transition: var(--Primary-Transition);
}

body .main_about .main_infosBlocks .infosBlocks_contact .contact_infos .infos_mailButton a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--Primary-Font);
  font-weight: bold;
  font-size: 20px;
  color: var(--Primary-White);
  text-decoration: none;
}

body .main_about .main_infosBlocks .infosBlocks_contact .contact_infos .infos_mailButton:hover {
  background-color: var(--Primary-White);
  border: 2px solid var(--Primary-Blue);
  transition: var(--Primary-Transition);
}

body .main_about .main_infosBlocks .infosBlocks_contact .contact_infos .infos_mailButton:hover a {
  color: var(--Primary-Blue);
}

body .main_about .main_infosBlocks .infosBlocks_resume {
  width: 100%;
  padding: 65px 0px;
  display: flex;
  justify-content: center;
  box-shadow: var(--Infos-Widget-Shadow);
  margin-top: 40px;
}

body .main_about .main_infosBlocks .infosBlocks_resume .resume_infos {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

body .main_about .main_infosBlocks .infosBlocks_resume .resume_infos .infos_title {
  width: fit-content;
  font-family: var(--Primary-Font);
  font-weight: bold;
  font-size: 32px;
  color: var(--Primary-Blue);
}

body .main_about .main_infosBlocks .infosBlocks_resume .resume_infos .infos_resumeButton {
  width: 254px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Primary-Blue);
  transition: var(--Primary-Transition);
}

body .main_about .main_infosBlocks .infosBlocks_resume .resume_infos .infos_resumeButton a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--Primary-Font);
  font-weight: bold;
  font-size: 20px;
  color: var(--Primary-White);
  text-decoration: none;
}

body .main_about .main_infosBlocks .infosBlocks_resume .resume_infos .infos_resumeButton:hover {
  background-color: var(--Primary-White);
  border: 2px solid var(--Primary-Blue);
  box-sizing: border-box;
  transition: var(--Primary-Transition);
}

body .main_about .main_infosBlocks .infosBlocks_resume .resume_infos .infos_resumeButton:hover a {
  color: var(--Primary-Blue);
}

@media screen and (max-width: 900px) {
  body .main_about .main_infosBlocks .infosBlocks_skills {
    box-shadow: var(--Infos-Widget-Shadow);
  }
  body .main_about .main_infosBlocks .infosBlocks_skills .skills_infos .infos_title {
    text-align: center;
  }
  body .main_about .main_infosBlocks .infosBlocks_contact {
    box-shadow: var(--Infos-Widget-Shadow);
  }
  body .main_about .main_infosBlocks .infosBlocks_contact .contact_infos {
    width: 50%;
    padding: 30px 0px 60px 0px;
    justify-content: center;
  }
  body .main_about .main_infosBlocks .infosBlocks_contact .contact_infos .infos_texts {
    padding: 0;
    align-items: center;
  }
  body .main_about .main_infosBlocks .infosBlocks_contact .contact_infos .infos_mailButton {
    margin-top: 30px;
  }
  body .main_about .main_infosBlocks .infosBlocks_resume {
    padding: 30px 0 60px;
    box-shadow: var(--Infos-Widget-Shadow);
  }
  body .main_about .main_infosBlocks .infosBlocks_resume .resume_infos {
    width: 50%;
    justify-content: center;
  }
  body .main_about .main_infosBlocks .infosBlocks_resume .resume_infos .infos_texts {
    align-items: center;
  }
  body .main_about .main_infosBlocks .infosBlocks_resume .resume_infos .infos_resumeButton {
    margin-top: 30px;
  }
}
