@import '../root/root.scss';
.footer
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 160px 0 50px 0;
    .footer_footerContainer
    {
        width: 40%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        .footerContainer_social
        {
            width: 100%;
            display: flex;
            justify-content: space-between;
            div
            {
                display: flex;
                flex-direction: column;
                a 
                {
                    text-decoration: none;
                    color: var(--Primary-Blue);
                    @include --Font-Bold-14px;
                }
                span 
                {
                    width: 0%;
                    height: 2px;
                    background-color: var(--Primary-Blue);
                    transition: all 1s ease;
                }
            }
            div:hover span
            {
                width: 100%;
                transition: all 1s ease;
            }
        }
        .footerContainer_made
        {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 20px 0 0 0;
            color: var(--Primary-Grey);
            @include --Font-Bold-14px;
            p 
            {
                margin: 0;
            }
        }
    }
}

/////////////////////////////////
////////Responsive Mobile///////
////////////////////////////////



@media screen and (max-width: 900px)
{
    body 
    {
        .footer
        {
            .footer_footerContainer
            {
                width: 75%; 
            }
        }
    }
}
  