body .navbarMobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.07);
}

body .navbarMobile .navbarMobile--logo {
  text-decoration: none;
  background: #fff;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .navbarMobile .navbarMobile--logo .logo--before {
  height: 100%;
  width: 25%;
}

body .navbarMobile .navbarMobile--logo a {
  font-family: 'Alegreya', serif;
  font-weight: bold;
  color: #07071E;
  font-size: 30px;
  text-decoration: none;
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: -0.36em;
}

body .navbarMobile .navbarMobile--logo .logo--burger {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body .navbarMobile .navbarMobile--logo .logo--burger .burger--spans {
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body .navbarMobile .navbarMobile--logo .logo--burger .burger--spans span {
  width: 20px;
  height: 2px;
  margin: 2px 0;
  background: #07071E;
  border-radius: 10px;
}

body .navbarMobile .navbarMobile--links {
  height: 0vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fff;
  overflow-y: hidden;
}

body .navbarMobile .navbarMobile--links a {
  font-family: 'Alegreya', serif;
  font-weight: bold;
  color: #07071E;
  font-size: 20px;
  margin: 30px 0;
  text-decoration: none;
}

@media screen and (min-width: 1100px) {
  body .navbarMobile {
    display: none;
  }
}
