:root {
  --Primary-White: #fff;
  --Primary-Blue: #07071C;
  --Primary-Grey: #808080;
  --Primary-Font: 'Alegreya', serif;
  --Infos-Widget-Shadow: 0px 0px 7px rgba(7, 7, 28, 0.09);
  --Pictures-Project-Shadow: 0px 4px 20px rgba(7, 7, 28, 0.09);
  --Projects-Widget-Shadow: 0px 4px 4px rgba(7, 7, 28, 0.09);
  --Navbar-Shadow: 0px 1px 4px rgba(0, 0, 0, 0.07);
  --Primary-Transition: all 1s ease;
}

body {
  margin: 0;
}

body .navbar {
  width: 100%;
  height: 100px;
  background-color: var(--Primary-White);
  display: flex;
  justify-content: center;
  box-shadow: var(--Navbar-Shadow);
  position: fixed;
  z-index: 100;
}

body .navbar .navbar_navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

body .navbar .navbar_navbar .navbar-logo {
  height: 100%;
  display: flex;
  align-items: center;
}

body .navbar .navbar_navbar .navbar-logo a {
  width: 3.4vw;
  margin: 0;
  font-family: var(--Primary-Font);
  font-weight: bold;
  font-size: 50px;
  color: var(--Primary-Blue);
  text-decoration: none;
  letter-spacing: -0.36em;
}

body .navbar .navbar_navbar .navbar-sections {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body .navbar .navbar_navbar .navbar-sections .sections-links {
  height: 100%;
  display: flex;
  width: fit-content;
  gap: 64px;
}

body .navbar .navbar_navbar .navbar-sections .sections-links div {
  display: flex;
  flex-direction: column;
}

body .navbar .navbar_navbar .navbar-sections .sections-links div a {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--Primary-Font);
  font-weight: bold;
  font-size: 14px;
  color: var(--Primary-Blue);
  text-decoration: none;
}

body .navbar .navbar_navbar .navbar-sections .sections-links div span {
  height: 4px;
  background-color: var(--Primary-Blue);
  transition: var(--Primary-Transition);
}

body .navbar .navbar_navbar .navbar-sections .sections-links div .spanActiv {
  width: 100%;
  background-color: var(--Primary-Blue);
}

body .navbar .navbar_navbar .navbar-sections .sections-links div .spanDisable {
  width: 0%;
  transition: var(--Primary-Transition);
}

body .navbar .navbar_navbar .navbar-sections .sections-links .sections-links_language {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50px;
  justify-content: space-between;
}

body .navbar .navbar_navbar .navbar-sections .sections-links .sections-links_language .language-Choosen {
  height: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

body .navbar .navbar_navbar .navbar-sections .sections-links .sections-links_language .language-Choosen a {
  height: fit-content;
}

body .navbar .navbar_navbar .navbar-sections .sections-links .sections-links_language .language-Choosen .language-Choosen_Span {
  width: 100%;
  height: 2px;
  background-color: var(--Primary-Blue);
}

body .navbar .navbar_navbar .navbar-sections .sections-links .sections-links_language .language-Not-Choosen {
  height: 100%;
  display: flex;
  justify-content: center;
}

body .navbar .navbar_navbar .navbar-sections .sections-links .sections-links_language .language-Not-Choosen a {
  height: fit-content;
  opacity: 0.3;
  transition: var(--Primary-Transition);
}

body .navbar .navbar_navbar .navbar-sections .sections-links .sections-links_language .language-Not-Choosen .language-Not-Choosen_Span {
  width: 0%;
  height: 2px;
}

body .navbar .navbar_navbar .navbar-sections .sections-links .sections-links_language .language-Not-Choosen:hover {
  cursor: pointer;
}

body .navbar .navbar_navbar .navbar-sections .sections-links .sections-links_language .language-Not-Choosen:hover a {
  opacity: 1;
  transition: var(--Primary-Transition);
}

body .navbar .navbar_navbar .navbar-sections .sections-links .sections-links_language .language-Not-Choosen:hover .language-Not-Choosen_Span {
  width: 100%;
}

body .navbar .navbar_navbar .navbar-sections .sections-links div:hover .spanDisable {
  width: 100%;
  transition: var(--Primary-Transition);
}

body .navbar_background {
  width: 100%;
  height: 100px;
}

@media screen and (max-width: 1100px) {
  body .navbar {
    display: none;
  }
  body .navbar_background {
    height: 15vh;
  }
}
