@import '../root/root.scss';

body
{
    margin: 0;
    .navbar
    {
        width: 100%;
        height: 100px;
        background-color: var(--Primary-White);
        display: flex;
        justify-content: center;
        box-shadow: var(--Navbar-Shadow);
        position: fixed;
        z-index: 100;
        .navbar_navbar
        {
            width: 80%;
            display: flex;
            justify-content: space-between;
            .navbar-logo
            {
                height: 100%;
                display: flex;
                align-items: center;
                a
                {
                    width: 3.4vw;
                    margin: 0;
                    @include --Font-Bold-50px;
                    color: var(--Primary-Blue);
                    text-decoration: none;
                    letter-spacing: -0.36em;
                }
            }
            .navbar-sections
            {
                height: 100%;
                display: flex;
                flex-direction: column;
                .sections-links
                {
                    height: 100%;
                    display: flex;
                    width: fit-content;
                    gap : 64px;
                    div
                    {
                        display: flex;
                        flex-direction: column;
                        a 
                        {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            @include --Font-Bold-14px;
                            color: var(--Primary-Blue);
                            text-decoration: none; 
                        }
                        span 
                        {
                            height: 4px;
                            background-color: var(--Primary-Blue);
                            transition: var(--Primary-Transition);
                        }
                        .spanActiv
                        {
                            width: 100%;
                            background-color: var(--Primary-Blue);
                        }
                        .spanDisable
                        {
                            width: 0%;
                            transition: var(--Primary-Transition);
                        }
                    }
                    .sections-links_language
                    {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 50px;
                        justify-content: space-between;

                        .language-Choosen
                        {
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            cursor: pointer;
                            a 
                            {
                                height: fit-content;
                            }
                            .language-Choosen_Span
                            {
                                width: 100%;
                                height: 2px;
                                background-color: var(--Primary-Blue);
                            }
                        }
                        .language-Not-Choosen
                        {
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            a 
                            {
                                height: fit-content;
                                opacity: 0.3;
                                transition: var(--Primary-Transition);
                            }
                            .language-Not-Choosen_Span
                            {
                                width: 0%;
                                height: 2px;
                            }
                        }
                        .language-Not-Choosen:hover
                        {
                            cursor: pointer;
                            a 
                            {
                                opacity: 1;
                                transition: var(--Primary-Transition);
                            }
                            .language-Not-Choosen_Span
                            {
                                width: 100%;
                            }
                        }
                    }
                    div:hover .spanDisable
                    {
                        width: 100%;
                        transition: var(--Primary-Transition);
                    }
                }
            }
        }
    }
    .navbar_background
    {
        width: 100%;
        height: 100px;
    }

}


/////////////////////////////////
////////Responsive Mobile///////
////////////////////////////////



@media screen and (max-width: 1100px)
{
    body 
    {
        .navbar
        {
            display: none;
        }
        .navbar_background
        {
            height: 15vh;
        }
    }
}