.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer_footerContainer {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer .footer_footerContainer .footerContainer_social {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer .footer_footerContainer .footerContainer_social div {
  display: flex;
  flex-direction: column;
}

.footer .footer_footerContainer .footerContainer_social div a {
  text-decoration: none;
  color: #07071C;
  font-family: 'Alegreya', serif;
  font-size: 14px;
  font-weight: bold;
}

.footer .footer_footerContainer .footerContainer_social div span {
  width: 0%;
  height: 2px;
  background-color: #07071C;
  transition: all 1s ease;
}

.footer .footer_footerContainer .footerContainer_social div:hover span {
  width: 100%;
  transition: all 1s ease;
}

.footer .footer_footerContainer .footerContainer_made {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  color: #9C9CA4;
  font-family: 'Alegreya', serif;
  font-size: 13px;
  font-weight: bold;
}
